/* Universal Styles */
body{
    margin: 0 5.56%;
    background-color: #FFFCFA;
}

*{
    font-family: Raleway;
    font-weight: normal;
}

h1{
    font-size: 2.25rem;
    font-weight: bold;
    color: #FFFCFA;
}

@media only screen and (max-width: 500px) {
    h1{
        font-size: 1.5rem;
        width: 80%;
        text-align: center;
    }

}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}

@media only screen and (max-width: 500px) {
    h2{
        font-size: 1.2rem;
    }    
}

h4{
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

h5{
    font-size: 0.875rem;
}

button{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: #FFFCFA;
    border: 1px solid black;
    background-color: black;
    padding: 0.75rem 1.5rem;
}

button:hover{
    border: 1px solid black;
    color: black;
    background-color: #FFFCFA;
}

a{
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
    text-align: center;
}

a.tertiary{
    padding: 0.5rem 1.75rem;
    border: 0;
    background-color: #FFFCFA;
}

a.tertiary:hover{
    color: #9C9C9C;
}

button .hero{
    width:16rem;
}

@media only screen and (max-width: 500px) {
    button .hero{
        width:14rem;
    }
}

a.secondary{
    border: 1px solid black;
    padding: 0.75rem 1.5rem;
    background-color: #FFFCFA;
}

a.secondary:hover{
    color: #FFFCFA;
    background-color: black;
}

p{
    font-size: 1.25rem;
}
@media only screen and (max-width: 500px) {
    p{
        font-size: 1rem;
    }
}

/* Header */
header{
    margin: 1.5rem 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-nav li{
    display: inline;
}

@media only screen and (max-width: 500px) {
    .main-nav {
        display: none;
    }
}

.logo-container{
    width: 19.5%;
    height:4rem; 
}

@media only screen and (max-width: 500px) {
    .logo-container{
        width: 50%;
        height:auto; 
    }
}

.mobile-nav .primary {
    display: none;
}

.mobile-nav img {
    display: none;
}

@media only screen and (max-width: 500px) {
    .mobile-nav img {
        display: flex;
        width: 2rem;
        height: 2rem;
        align-items: end;
        justify-content: end;
    }

    .mobile-nav .primary {
        display: none;
        flex-direction: column;
        list-style-type: none;
        
    }

}

#logo{
    width:100%;
    height:auto;
}

/* Secondary Nav */
.secondary-nav-container{
    margin: 0;
    width:100%;
}

.secondary-nav{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.secondary-nav li {
    display: flex;
}

@media only screen and (max-width: 500px) {
    .secondary-nav-container{
        display: none;
    }
}

/* Hero */
.hero{
    width: 100%;
    margin: 0;
    height: 35rem;
}
.container{
    background-image: url(../images/background-img2.webp);
    height: 100%;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Brands */
.brands{
    width:100%;
    overflow: scroll;
    display: flex;
    margin: 0;
}

.brands img{
    max-width:10%;
    object-fit: contain;
    padding: 1.5rem;
    height: auto;
}

@media only screen and (max-width: 500px) {
    .brands img{
        max-width:30%;
        padding: 1rem;
    }
}

/* Story */
.story{
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.story p{
    width: 70%;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .story p{
        width: 100%;
        text-align: start;
    }

    .story{
        margin: 2.5rem 0;}
}

/* Bestsellers */
.text p{
font-size: 1rem;
margin: 0.25rem 0;
}

.heading{
    font-weight: 700;
    font-size: 1rem;
}

.bestsellers{
    margin: 3rem 0;
    width: 100%;
}

.image img{
    max-width:19.68rem;
    height:auto;
}

@media only screen and (max-width: 500px) {
    .image img{
        max-width:16rem;
        height:auto;
    }    

    .bestsellers{
        margin: 3rem 0;
    }
}

.content{
    margin: 0 3rem 0 0;
}

.content-box{
    display:flex;
    justify-content: space-between;
    overflow: scroll;
}


/* Footer */
footer{
    border-top: 1px solid;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
